@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tournamental Service</h1>
    <p class="lead">Our sevice is simple way to tournaments management. You can easily add a new one, edit existing one or just enjoy view of list of all already existing ones!</p>
    
    <p>Welcome @HttpContext.Current.User.Identity.Name!</p>

    @if (Request.IsAuthenticated)
    {
        using(Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
        {
            <button class="btn btn-primary btn-lg" href="javascript:document.getElementById('logoutForm').submit()">Logout</button>
        }
    }
    else
    {
        @Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-primary btn-lg" })
    }

</div>