@model IEnumerable<Tournamental.Models.Participant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tournament1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.FirstName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.FirstName)
        </td>
    </tr>
}

</table>
